body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-areas: 'navArea navArea navArea navArea'
                         'headerArea headerArea headerArea headerArea'
                         'opcoesArea opcoesArea opcoesArea opcoesArea'
                         'contatoArea contatoArea contatoArea contatoArea'
                         'depoimentoArea depoimentoArea depoimentoArea depoimentoArea'
                         'footerArea footerArea footerArea footerArea';
    grid-template-rows: 10px 508px 285px 360px 395px 108px;
}

nav{
    grid-area: navArea;
    background-color: #2dcc72;
}

header{
    grid-area: headerArea;
    background-color: brown;
    display: flex;
}

header h1{
    font-family: 'Pacifico', cursive;
}

header div{
    width: 50%;
    display: flex;
    height: 100%;
}

header div:first-child{
}

header div:nth-child(2) img{
    height: 80%;
}

.opcoes{
    grid-area: opcoesArea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opcoes .centro{
    height: 100%;
    width: 1040px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.opcoes .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.opcoes .item div{
    display: flex;
    background-color: #2eca6f; 
    padding: 20px;
    border-radius:50%;
}

.opcoes p{
    font-size: 11pt;
    margin: 0;
    text-align: center;
}

.opcoes img{ 
    width: 45px;
    height: 45px;
}

.contato{
    grid-area: contatoArea;
    background-color: crimson;
}

.depoimentos{
    grid-area: depoimentoArea;
    background-color: darkcyan;
}
footer{
    grid-area: footerArea;
    background-color: darkkhaki;
}

@media(max-width:425px){
    body{
        grid-template-rows: 10px 508px auto 360px 395px 108px;
    }
    .opcoes .item{
        width: 80%;
        margin: 25px 0;
    }
    .opcoes p{
        font-size: 12pt;
    }
    .opcoes .centro{
        width: auto;
        flex-direction: column;
    }
}
