*, *:before, *:after {

    box-sizing: border-box;

}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-areas: 'navArea navArea navArea navArea'
                         'headerArea headerArea headerArea headerArea'
                         'opcoesArea opcoesArea opcoesArea opcoesArea'
                         'contatoArea contatoArea contatoArea contatoArea'
                         'depoimentoArea depoimentoArea depoimentoArea depoimentoArea'
                         'footerArea footerArea footerArea footerArea';
    grid-template-rows: 10px 350px 285px 360px 395px 108px;
}

footer{
    grid-area: footerArea;
    background-color: #dfdfdf;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div{
    width: 95%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
}

footer a{
    color: #a8a8a8;
    text-decoration: none;
    transition: 0.7s;
}

footer a:hover{
    color: #6b6b6b;
}

header{
    grid-area: headerArea;
    background: url(img/banner.png) center center no-repeat;
    background-size: cover;
    padding: 50px 10vw 0 15vw;
    display: flex;
}

header > div{
    display: flex;
    flex-grow: 1;
    height: 100%;
}

header > div:first-child{
}

header > div:nth-child(2) img{
    height: 100%;
    margin: 0 auto;
}

header .header-info {

    width: 290px;
    margin: 0 auto;

}

header .header-info > h1{
    
    font-family: 'Pacifico', cursive;
    font-weight: 100;
    color: #FFF;

}
header .header-info > h1 > span {

    color: #2eca6f;

}
header .header-info > p {

    color: #FFF;

}

header .header-info > ul.header-icons {

    list-style: none;
    padding: 0;

}

header .header-info > ul.header-icons > li {

    display: inline-block;

}

header .header-info > ul.header-icons > li > a {

    display: block;
    margin: 0 5px 0 0;
    padding: 10px;
    background-color: #00000050;
    border-radius: 50%;
    line-height: 0;

}
header .header-info > ul.header-icons > li > a.active {

    background-color: #2dcc72;

}

header .header-info > ul.header-icons > li > a > img {

    display: block;
    width: 20px;
    height: 20px;

}

nav{
    grid-area: navArea;
    background-color: #2dcc72;
}

.contato{
    grid-area: contatoArea;
    background-color: #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contato p{
    color: #9e9e9e;
    font-size: 11pt;
    line-height: 18pt;
}

.contato input[type="email"]{
    border: 2px #dfdfdf solid;
    padding: 15px 0 15px 15px;
    width: 242px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 12pt;
}

.contato input[type="button"]{
    background-color: #2dcc70;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border:2px solid #2dcc70;
    color:#fff;
    padding: 13px 42px;
    font-size: 12pt;
    font-weight: bold;
    margin-left: -5px;
    cursor:pointer;
}

.contato .centro{
    height: 100%;
    width: 95%;
    max-width: 1005px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contato .centro div{
    width: 50%;
}

.depoimentos{
    grid-area: depoimentoArea;
    display: flex;
    justify-content: center;
}

.depoimentos .centro{
    height: 100%;
    width: 95%;
    max-width: 1005px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.depoimentos strong{
    margin-bottom: 15px;
}

.depoimentos .pessoas img{
    height: 42px;
}

.depoimentos h4{
    font-size: 16pt;
    margin-bottom: 0;
}

.depoimentos .centro p:first-child{
    width: 70%;
    font-style: italic;
    text-align: center;
}

.depoimentos .centro div:last-child{
    width: 320px;
    display: flex;
    justify-content: space-between;
}

.depoimentos a{
    background-color: #dfdfdf;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.depoimentos a:hover{
    background-color: #2dcc70;
}

.depoimentos a img{
    width: 60%;
}

.opcoes{
    grid-area: opcoesArea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opcoes .centro{
    height: 100%;
    width: 95%;
    max-width: 1040px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.opcoes .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.opcoes .item div{
    display: flex;
    background-color: #2eca6f; 
    padding: 20px;
    border-radius:50%;
}

.opcoes p{
    font-size: 11pt;
    margin: 0;
    text-align: center;
}

.opcoes img{ 
    width: 45px;
    height: 45px;
}

@media(max-width:870px){
    body{
        grid-template-rows: 10px 508px 285px auto 395px 108px;
    }

    .contato .centro{
        flex-direction: column;
        margin: 30px 0;
    }

    .contato .centro div{
        width: 100%;
        margin-bottom:20px;
        text-align: center;
    }
}

@media(max-width:425px){
    body{
        grid-template-rows: 10px 508px auto auto 395px auto;
    }

    footer{
        padding: 30px 0;
    }
    
    footer div{
        flex-direction: column;
        align-items: center;
    }

    .opcoes .item{
        width: 95%;
        margin: 25px 0;
    }

    .opcoes p{
        font-size: 12pt;
    }
    
    .opcoes .centro{
        width: auto;
        flex-direction: column;
    }
}
